<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <title>{{title}}</title>

	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="socket.io/socket.io.js"></script>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
 
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

	<script>
		var $li;
		var socket = io.connect('http://localhost');
		socket.emit('getfiles');	  
		socket.on('retrivefiles', function (data) {
			$(data).each(function() {
				$('#files')
					.append(
						$('<li></li>')
							.append('<button id="info" class="btn btn-default btn-xs icon-plus" data-toggle="button"></button>')
							.append('<button id="run" class="btn btn-default btn-xs icon-play" data-toggle="button"></button>')						
							.append('<span>'+this.split('/').pop()+'</span>')
							.append('<ul></ul>')
							.data('file', this)								
					);

			});
		});

		socket.on('info', function (data) {
			$("ul", $li).append('<li>'+data+'</li>');
		});

		socket.on('spec', function (data) {
			$("ul", $li).append('<li>'+data+'</li>');
		});	  

		$(document).on('click', 'button', function(){
			$li = $(this).parent();

			$(this).toggleClass('icon-minus icon-plus');

			var state = $(this).data('state');
			$('#spec').empty();
			$('#info_div').empty();
			$("ul", $li).empty();

		    switch(state){
		        case 1 :
		        case undefined : socket.emit($(this).attr('id'), $($li).data('file')); $(this).data('state', 2); break;
		        case 2 : $(this).data('state', 1); break;
		    }
			
		})
	  

	</script>    

</head>
<body>

    <div id="mocha"></div>

	<ul id='files'></ul>
	<div id='spec'></div>
	<div id='info_div'></div>

</body>
</html>